/* Regular */
@font-face {
  font-family: "Work Sans 1";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("../work-sans-1/Regular/WorkSans-Regular-latin.woff2")
    format("woff2");
  unicode-range: U+0000-00FF;
}
@font-face {
  font-family: "Work Sans 1";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("../work-sans-1/Regular/WorkSans-Regular-latin-extended-a.woff2")
    format("woff2");
  unicode-range: U+0100-017F;
}
@font-face {
  font-family: "Work Sans 1";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("../work-sans-1/Regular/WorkSans-Regular-latin-extended-b.woff2")
    format("woff2");
  unicode-range: U+0180-024F;
}
@font-face {
  font-family: "Work Sans 1";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("../work-sans-1/Regular/WorkSans-Regular-rest-middle.woff2")
    format("woff2");
  unicode-range: U+0259-03C0;
}
@font-face {
  font-family: "Work Sans 1";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("../work-sans-1/Regular/WorkSans-Regular-latin-extended-additional.woff2")
    format("woff2");
  unicode-range: U+1E00-1EFF;
}
@font-face {
  font-family: "Work Sans 1";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("../work-sans-1/Regular/WorkSans-Regular-rest.woff2") format("woff2");
  unicode-range: U+2000-FB02;
}
/* Italic */
@font-face {
  font-family: "Work Sans 1";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("../work-sans-1/Italic/WorkSans-Italic-latin.woff2") format("woff2");
  unicode-range: U+0000-00FF;
}
@font-face {
  font-family: "Work Sans 1";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("../work-sans-1/Italic/WorkSans-Italic-latin-extended-a.woff2")
    format("woff2");
  unicode-range: U+0100-017F;
}
@font-face {
  font-family: "Work Sans 1";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("../work-sans-1/Italic/WorkSans-Italic-latin-extended-b.woff2")
    format("woff2");
  unicode-range: U+0180-024F;
}
@font-face {
  font-family: "Work Sans 1";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("../work-sans-1/Italic/WorkSans-Italic-rest-middle.woff2")
    format("woff2");
  unicode-range: U+0259-03C0;
}
@font-face {
  font-family: "Work Sans 1";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("../work-sans-1/Italic/WorkSans-Italic-latin-extended-additional.woff2")
    format("woff2");
  unicode-range: U+1E00-1EFF;
}
@font-face {
  font-family: "Work Sans 1";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("../work-sans-1/Italic/WorkSans-Italic-rest.woff2") format("woff2");
  unicode-range: U+2000-FB02;
}
/* Bold */
@font-face {
  font-family: "Work Sans 1";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("../work-sans-1/Bold/WorkSans-Bold-latin.woff2") format("woff2");
  unicode-range: U+0000-00FF;
}
@font-face {
  font-family: "Work Sans 1";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("../work-sans-1/Bold/WorkSans-Bold-latin-extended-a.woff2")
    format("woff2");
  unicode-range: U+0100-017F;
}
@font-face {
  font-family: "Work Sans 1";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("../work-sans-1/Bold/WorkSans-Bold-latin-extended-b.woff2")
    format("woff2");
  unicode-range: U+0180-024F;
}
@font-face {
  font-family: "Work Sans 1";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("../work-sans-1/Bold/WorkSans-Bold-rest-middle.woff2")
    format("woff2");
  unicode-range: U+0259-03C0;
}
@font-face {
  font-family: "Work Sans 1";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("../work-sans-1/Bold/WorkSans-Bold-latin-extended-additional.woff2")
    format("woff2");
  unicode-range: U+1E00-1EFF;
}
@font-face {
  font-family: "Work Sans 1";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("../work-sans-1/Bold/WorkSans-Bold-rest.woff2") format("woff2");
  unicode-range: U+2000-FB02;
}
/* BoldItalic */
@font-face {
  font-family: "Work Sans 1";
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url("../work-sans-1/BoldItalic/WorkSans-BoldItalic-latin.woff2")
    format("woff2");
  unicode-range: U+0000-00FF;
}
@font-face {
  font-family: "Work Sans 1";
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url("../work-sans-1/BoldItalic/WorkSans-BoldItalic-latin-extended-a.woff2")
    format("woff2");
  unicode-range: U+0100-017F;
}
@font-face {
  font-family: "Work Sans 1";
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url("../work-sans-1/BoldItalic/WorkSans-BoldItalic-latin-extended-b.woff2")
    format("woff2");
  unicode-range: U+0180-024F;
}
@font-face {
  font-family: "Work Sans 1";
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url("../work-sans-1/BoldItalic/WorkSans-BoldItalic-rest-middle.woff2")
    format("woff2");
  unicode-range: U+0259-03C0;
}
@font-face {
  font-family: "Work Sans 1";
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url("../work-sans-1/BoldItalic/WorkSans-BoldItalic-latin-extended-additional.woff2")
    format("woff2");
  unicode-range: U+1E00-1EFF;
}
@font-face {
  font-family: "Work Sans 1";
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url("../work-sans-1/BoldItalic/WorkSans-BoldItalic-rest.woff2")
    format("woff2");
  unicode-range: U+2000-FB02;
}
